absl-py==2.1.0
attrs==23.2.0
box2d-py==2.3.5
cffi==1.16.0
chess==1.9.4
cloudpickle==3.0.0
contextlib2==21.6.0
Farama-Notifications==0.0.4
filelock==3.15.4
fsspec==2024.6.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0a2
Jinja2==3.1.4
MarkupSafe==2.1.5
ml_collections==0.1.1
mpmath==1.3.0
multi-agent-ale-py==0.1.11
networkx==3.3
numpy==1.26.4
open-spiel==1.5
pandas==2.2.2
pettingzoo==1.24.3
pillow==10.4.0
pip==24.2
pycparser==2.22
pygame==2.6.0
pymunk==6.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
rlcard==1.0.5
scipy==1.14.0
#setuptools==69.2.0
Shimmy==2.0.0
six==1.16.0
sympy==1.12.1
termcolor==2.4.0
torch==2.2.2
typing_extensions==4.12.2
tzdata==2024.1
matplotlib==3.9.2
